.label{
        -fx-font-family: "Helvetica";
        -fx-font-size: 75px;
        -fx-font-weight: bold;
        -fx-text-fill: #DEDDDD;
        -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}