difficulty_button_text = Schwierigkeit
graphic_button_text = Grafik
sound_button_text = Audio

level_slider_label = Monster Level Anpassung
master_volume_label = Gesamtlautstaerke
sound_volume_label = Effektlaustaerke
music_volume_label = Musiklautstaerke

resolution_label = Aufloesung
high_res_label = Hoch (1920 x 1080)
medium_res_label = Mittel (1280 x 720)
low_res_label = Niedrig (640 x 360)
window_mode_label = Fenstermodus
fullscreen_label = Vollbild
borderless_window_label = Randloses Fenster