dialog_box_enter_dungeon = Betritt Verließ
dialog_box_dont_enter_dungeon = Abbrechen
dialog_box_text_1 = Level 
dialog_box_text_2 = Dieses Level beinhaltet folgende Landflächen:\n
dialog_box_text_3 = \nMit der schwierigkeit:\n
dialog_box_text_4 = \nUnd dem Seed:   
dialog_box_text_5 = \nMöchten Sie das Level Spielen?