dialog_box_enter_dungeon = Betritt Level
dialog_box_dont_enter_dungeon = Abbrechen
dialog_box_text_1 = Level 
dialog_box_text_2 = \nDieses Level beinhaltet folgende Landflaechen:\n
dialog_box_text_3 = \n\nMit der schwierigkeit:\n
dialog_box_text_4 = Monster Erscheinungsrate: 
dialog_box_text_5 = \nMonster Levelvarianz: 
dialog_box_text_6 = \n\nUnd dem Seed: 
dialog_box_text_7 = \nMoechten du das Level Spielen?